{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'aa.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <script>
        var loadImage = function(event) {
            console.log("AA")
            var output = document.getElementById('img');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
{% endblock head %}
{% block content %}
    <div class = "content">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "image_form">
            <img id="img" src="media/{{ form.image.value }}" width="250" height="250" >
            <input type="file" name="image" accept="image/*" id="id_image" onchange="loadImage(event)" >
        </div>
        <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="id_name"  maxlength="100" required="" value={{ form.name.value }}>
        </div>
        <div class="mb-3">
            <label for="id_about" class="form-label">About</label>
            <textarea class="form-control" name="about" id="id_about" rows="3" required="" >{{form.about.value}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
</div>
{% endblock content %}