header {
    height: 65px;
    width: 100%;
    top: 0;
    background-color:#343a40!important;
    position :relative;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  
.header-left {
    line-height: 65px;
    padding: 0 30px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s; 
    text-decoration: none;
    font-size:20px;
}
.header-right {
    float: right;
    margin-right: -80px;
}
.header-right a {
    line-height: 65px;
    padding: 0 30px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s; 
    text-decoration: none;
    font-size:20px;
}

.form-container {
    margin:auto;
    width: 30%;
}