<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">     
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Journal</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
        <script src="https://kit.fontawesom.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min/js"></script>
    </head>

<body>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Add<span class="Jurnal"></span></a></div>
            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li> 
            </ul>
        </div>
    </nav>

    <section class="section">
        <div class="max-width">
            <article class="media">
                <div class="media-content">
                    <div class="content">

                        <form method="POST" action="{% url 'add' %}">
                            {% csrf_token %}
                            <!-- <div class="field"> -->
                                <div class="form-input">
                                    {{form.title}}
                                    {{form.media}}
                                    {{form.text}}
                                </div>
                            <!-- </div> -->

                            <div class="submit-button">
                                <div class="control">
                                    <button class="button-1">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </article>

        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>