{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type= "text/css" href="{% static 'style.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <div class = body-form>
        <header>
          <div class="container">
            <div class="header-right">
              <a href="/to-do-list"><b>Home</b></a>
              <a href="/to-do-list/add-task"><b>Add Task</b></a>
            </div>
          </div>
        </header>  
        <div class ="body-container">
          <div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="/to-do-list">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="/personal_journal">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Personal Journal
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/notes">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Notes
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                           Quotes
                        </span>
                    </a>
                </li>
                <li>
                   <a href="/weekly_schedule">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Weekly Schedule
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Profile
                        </span>
                    </a>
                </li>
            </ul>
  
            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
            <form action= "" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label>Name</label>
                <br>
                <input type="text" maxlength="30" name = "name" required id ="id_name" style="width: 200px;">
              </div>
              <div class="form-group">
                <label>Category</label>
                <br>
                <input type="text" maxlength="30" name = "category" required id ="id_category" style="width: 200px;">
              </div>
              <div class="form-group">
                <label>Due date</label>
                <br>
                <input type="date" name = "due_date" required id ="id_due_date" style="width: 200px;">
              </div>
              <div class="form-group">
                <label>Description</label>
                <br>
                <input type="text" maxlength="30" name = "description" required id ="id_description" style="width: 200px;">
                <br>
                <br>
                <input type="submit" value="Submit"> 
              </div>
            </form>
            </div>
        </div>
      </div>    
</body>
</html>
