{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" type= "text/css" href="{% static 'style.css'%}">
    <title>Note Dote</title>
  </head>
  <body>
    <div class="body-card">
      <header>
        <div class="container">
          <div class="header-left">
            Notes
          </div>
          <div class="header-right">
            <a href="/tasks"><b>View Task</b></a>
            <a href="/notes/add-note"><b>Add Note</b></a>
          </div>
        </div>
      </header>  
        
      <div class="body-container">
        <div class="area"></div><nav class="main-menu">
          <ul>
              <li>
                  <a href="/tasks">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                          Dashboard
                      </span>
                  </a>
                
              </li>
              <li class="has-subnav">
                  <a href="#">
                      <i class="fa fa-laptop fa-2x"></i>
                      <span class="nav-text">
                          Personal Journal
                      </span>
                  </a>
                  
              </li>
              <li class="has-subnav">
                  <a href="/notes">
                     <i class="fa fa-folder-open fa-2x"></i>
                      <span class="nav-text">
                          Notes
                      </span>
                  </a>
                 
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-font fa-2x"></i>
                      <span class="nav-text">
                         Quotes
                      </span>
                  </a>
              </li>
              <li>
                 <a href="/weekly_schedule">
                     <i class="fa fa-table fa-2x"></i>
                      <span class="nav-text">
                          Weekly Schedule
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                     <i class="fa fa-info fa-2x"></i>
                      <span class="nav-text">
                          Profile
                      </span>
                  </a>
              </li>
          </ul>

          <ul class="logout">
              <li>
                 <a href="#">
                       <i class="fa fa-power-off fa-2x"></i>
                      <span class="nav-text">
                          Logout
                      </span>
                  </a>
              </li>  
          </ul>
      </nav>
          {%for notes in note%}
          <div class="card">
              <div class="container-card">
                  <h4 style="font-weight: bold; text-align: center;"> {{notes.title}}</b></h4>
                  <br>
                  <p1>Author : {{notes.author}}</p1>
                  <br>
                  <p2>Note : {{notes.message}}</p2>
                  <br>
                  <p3>Date Created : {{notes.date_created}}</p3>
              </div>
          </div>
          {%endfor%}
      </div>
    </div>
  </body>    
</html>
